/*Table Example for ref: https://bleakdev.github.io/Website-Stuff-RGU/event_calendar.html*/

/* // MAIN TAGS */
:root{
  background-color: #ad3a5d; 
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("skate1.jpg");
  background-repeat: repeat, repeat;
  color: #b9b9b9;
  font-family:'Corbel','Gill Sans';

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Corbel';
  color: #EC8700;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
p{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
main,nav,header,footer,aside{
  background-color: #3D3A36;
  margin-bottom: 0px;
  margin-top: 0px;
}
header{
  width: 100%;
  height: 350px;

  text-align: center;
  padding-top: 225px;
  margin: 0px;
}
footer{
  padding: 15px 0 15px 0;
  background-color: #ad3a5d;
  text-align: center;
}
aside{
  height: auto;
  width: 100%;
  background-color: #3D3A36;
}
aside div{
  height: 245px;
  width: 245px;
  left: 3%;
  top: 5%;
  background-color: #3D3A36;

  display: inline-block;
  position: relative;
  margin: 0 3% 0;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}
aside div:hover{
  transform: scale(1);
  color: #ee5180;
}

/* // SECONDARY TAGS (lists, nav bars etc) */
/*index.html article at <aside>*/
#aside-article{
  height: auto;
  width: 50%;
  background-color:#645f57;
  border-radius: 10px;
  padding: 10px;
}
#aside-article img, #aside-article h2, #aside-article p{
  padding: 10px;
  border-radius: 10px;
  background-color:#645f57;
}

/*Nav Bar -> Logo (Top Left)*/
.logo{
  position: absolute; 
  width: 74px;
  height: 100%;
  padding-bottom: 3px;
}
/*logo hover effect*/
.logo:hover{
  filter: grayscale(100%);
}


/* Nav Bar -> Login Form (Right side) */
#form-login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  background-color:#2d2d2d;
  color:#EC8700;
  padding: 0 10px 0;
}
#form-login input[type="text"],
#form-login button {
  flex: 1;
}

/* navigation bar */
nav {
  position: relative;
  list-style: none;
  width: 100%;
  height: 65px;
}
nav ul{
  display: table;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

nav ul li{
  display: inline-block;
  border: 2px;
  list-style-type: none;
  height: 65px;

}
nav ul li:last-child{
  width: 550px;
}
nav ul li:hover{
  background-color: #645f57;
}
nav ul li a{
  text-decoration: none;
  float: left;
  width: 100px;
  text-align: center;
  padding: 20px 16px;
}
li{
  float: left;
}
/*Active element color animation*/
.active{
  color: #ee5180;
}
.active:hover{
  color: #FFFFFF;
}

/*Table*/
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #ffffff54;
  padding: 5px;
  font-size: 10pt;
}
table tr th{
  width: 100px;
  text-align: center;
}
table tr td{
  width: 50px !important;
}
.tableTitle{
  color: #D30040; 
  border: none;
}
td:hover{
  background-color: #D30040;
  color: #FFFFFF;
}

/*Tweet embeds styling*/
.tweets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tweet {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

/*Optimalisation for different resolutions and accesibility*/
/* Laptop devices*/
@media only screen and (max-width: 1366px) {
  nav{
    height: auto;
  }
  .logo{
    display: none;
  }
  header{
    height: 300px !important;
  }
  #blackbox{
    margin-left: 24% !important;
  }
  header div div{
    width: 80% !important;
    top: 180px !important;
  }
  #imgs_grid img{
    bottom : 75px !important;
    height: auto !important;
    left: 1%;
  }
  .div-merch{
    height: auto !important; 
  }

}
/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  nav{
    height: auto;
  }
  .logo{
    display: none;
  }
  header{
    height: 600px !important;
  }
  header div{
    height: auto !important;
  }
  #imgs_grid img{
    bottom : -75px !important;
    height: 400px !important;
    left: 1%;
  }
  header div div{
    width: 80% !important;
    bottom: 200px !important;
  }
}
/*Visual Adjustments*/
@media only screen and (max-width: 1000px) {
  #header-index{
    height: 800px !important;
  }
}